<?xml version="1.0" encoding="utf-8" ?>
<configuration>
</configuration>
<hibernate-mapping xmlns="urn:nhibernate-mapping-2.2"
  namespace="WebAppBasicNHibernate.Vo" assembly="WebAppBasicNHibernate">
  <class name="Kazemi" table="Kazemi" >

    <!-- Primary Key(s) -->
    <id name="Id" column="ID">
      <generator class="identity" />
    </id>

    <property name="Name" column="Name" not-null="true" />

  </class>
</hibernate-mapping>